@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

/*    globals for highlighting text  */
::selection{
    color: rgb(17, 21, 23);
    background: rgb(159, 211, 209);
}

* {
      margin: 0;
      padding: 0;
}

/*    reveal animation section   */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

 /*    body section   */   
body {
      font-family: 'Inconsolata', monospace;
      background-color: black;
      color: rgb(255, 255, 255);
}

/* Navbar  */
nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      backdrop-filter: blur(14px);
      background: rgba(0, 0, 0, 0.123);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      z-index: 1000;
      max-width: 100vw;
      box-sizing: border-box;
}


  
nav a{
      text-decoration: none;
      color: #ffffff;
      font-size: 1rem;
      font-weight: 400;
}


.nav-links {
      display: flex;
      gap: 1rem;
    }
.nav-links.active {
      width: 100%;
      backdrop-filter: blur(25px);
      max-height: 500px; /* Adjust based on content height */
      display: flex;
      opacity: 1;
      align-items: center;
      align-content: center;
      flex-direction: column;
      position: absolute;
      top: 50px; /* Adjust based on navbar height */
      right: 0;
      background-color: rgba(0, 0, 0, 0.132);
      padding: 1rem;
      backdrop-filter: blur(25px);
      
    }

    .nav-links a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      transition: color 0.2s;
    }

    .nav-links a:hover {
      color: #ffbd2e;
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      height: fit-content;
    }

    .hamburger span {
      height: 3px;
      width: 20px;
      background: #ffffffca;
      margin: 3px 0px;
      border-radius: 3px;
      transition: 0.3s;
    }
/* content */


/* hero */
.hero {
   max-width: 100vw;
   margin: 0;
   padding: 0 2rem;
   text-align: center;  
}
.content .hero{
     background-image: url('./images/jgf35.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.hero-title {
  font-size: 2rem;
  line-height: 2;
  font-weight: 500;
  color: white;
  margin-bottom: 2rem;
}

.hero-title .highlight {
  display: block;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.55);
}

.hero-intro {
  font-size: 1rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.5);
  max-width: 700px;
  margin: 0 auto;
}

/*    mywork items   */
.mywork {
    width: 100%;
    padding-bottom:1em;
    overflow: hidden;
  }


  .flex-items {
    height: 310px;
    margin: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
    transition: 300ms;
    ;
  }

.flex-items:hover{
    scale: 1.01;
    cursor: pointer;
  }
   


  .fl_ct{
    padding: 2.3em;
  }
  

.fl_ct h2{
    color: #ffbf36;
    font-size: 1.8em;
    font-weight: 600;
    margin-top: 0;
  }
.fl_ct p{
    color: rgb(255, 255, 255);
    font-size: 1em;
    font-weight: 400;
}

/* Connect section */
.flex-items .connect{
    padding: 2.3em;
    overflow: hidden;
}
.flex-items .connect ul{
    list-style: none;
    padding: 2rem 0rem;
    margin: 0;
}
.flex-items .connect a{
    text-decoration: none;
    color: #ffbf36;
    font-size: 1.2em;
    font-weight: 400;
}
.flex-items .connect a:hover{
    color: #fff;
    text-decoration: underline;
}
.mywork .flex-items:nth-child(1) {
    background-image: url('./images/plce.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}

.mywork .flex-items:nth-child(2) {
    background-image: url('./images/shpyrd.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}

.mywork .flex-items:nth-child(3) {
    background-image: url('./images/HABIT.jpg');
    background-size: cover;
    background-position: center;
     background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}

.mywork .flex-items:nth-child(4) {
    background-image: url('./images/spce.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}
.mywork .flex-items:nth-child(5) {
    background-image: url('./images/clff.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}
.mywork .flex-items:nth-child(6) {
    background-image: url('./images/plne.jpg');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}


/*     footer section    */
.footer {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  overflow: hidden;
  z-index: 0;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('./images/syrd.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
  z-index: -1;
}

.footer:hover::before {
  transform: scale(1.01);
}

.footer a{ 
    text-decoration: none;
    color: #a9acae;
    line-height: 1.5;
    margin: 0em 0.5em;
    }

    .footer a:hover{
        color: #fff;
}

/* Mobile Styles */
@media (max-width: 768px) {
      .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: rgba(255, 255, 255, 0.95);
        flex-direction: column;
        width: 200px;
        box-shadow: 0 8px 16px rgba(0,0,0,0.1);
        padding: 1rem;
      }

      .nav-links.active {
        display: flex;
      }

      .hamburger {
        display: flex;
      }
      .hero-title {
         font-size: 1.5rem;
         line-height: 1.2;
        }
      .hero-title .highlight {
        padding: 1rem 0rem;
        font-weight: 400;
        font-size: 1rem;
        color: rgba(255, 255, 255, 0.55);
      }
    
        .hero-intro {
            font-size: 0.9rem;
            line-height: 1.2;
        }
      
        .flex-items {
            height: 250px;
            margin: 0;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top: 1em;
            overflow: hidden;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: darken;
            backdrop-filter: blur(10px);
        }
        .flex-items .connect a{
            text-decoration: none;
            color: #ffbf36;
            font-size: 0.9rem;
            font-weight: 400;
        }
}