@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap);

body{
    transition: background-color 0.5s;
}

::selection{
    color: rgb(33, 42, 48);
    background: rgb(205, 232, 238);
}

*{
    font-family: 'Inter', sans-serif;
}
.header{
    padding-top: 190px;
}
.header a {
    font-weight: 300;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(124, 130, 140);
}
.header p {
    font-weight: 300;
    font-size: 1em;
    text-decoration: none;
    color: rgb(124, 130, 140);
}


.l_col p{
    text-align: justify;
    font-size: 1em;
    font-weight: 300;
}

.r_col ul{
    list-style-type: none;
}

.r_col a{
    text-decoration: none;
}

.r_col a:hover {
    color: rgb(255, 79, 70);
}


.footer{
    width: 100%;
    background-color: rgb(242, 245, 249);
}

@media only screen and (max-width: 750px) {
   
  }
