@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap);

/*    globals   */
::selection{
    color: rgb(33, 42, 48);
    background: rgb(205, 232, 238);
}
*{
    font-family: 'Inter', sans-serif;
}

/*  header section  */
.header{
    padding-top: 9em;
    width: 60%; 
    margin-left: auto; 
    margin-right: auto;
}
.header h4{
    margin-bottom: 0.5em;
}
.header a {
    font-weight: 300;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(110, 115, 123);
}
.header h5 {
    font-weight: 300;
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(124, 130, 140);
    margin-top: 0px;
}
.header p{
    color: rgb(20, 20, 21); 
    font-size: 3em;  
    font-weight: 500;
    margin-top: 0.3em;
}

/*    t_col     */
.t_col h5{
    font-weight: 300;
    font-size: 1.3em;
}
.t_col {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.t_col p{
    text-align: left;
    font-size: 1.3em;
    font-weight: 300;
}


/*     b_col     */
.b_col {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.b_col ul{
    list-style-type: none;
    padding: 0;
}

.b_col a{
    text-decoration: none;
}

.b_col li a :hover {
    color: rgb(255, 79, 70);
}

/*    flex container*/
.m_col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex-items {
    display: block;
    flex-grow: 1 1 1;
    flex-shrink: 1;
    flex-basis: auto;
    order: 0;
    height: 350px;
    margin: 5px;
    width: 18vw;
    background-color: rgb(230, 235, 236);
    border-radius: 5px;
  }

  

.footer{
    width: 100%;
    background-color: rgb(242, 245, 249);
}

@media only screen and (max-width: 768px) {
    .header{
        width: 80%;
    }
    .header p{
        font-size: 2em;
    }
    .t_col{
        width: 80%;
    }
  }
