@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap);

/*    globals   */
::selection{
    color: rgb(17, 21, 23);
    background: rgb(159, 211, 209);
}
*{
    font-family: 'Inter', sans-serif;
}

/*  header section  */
.header{
    padding-top: 9em;
    width: 60%; 
    margin-left: auto; 
    margin-right: auto;    
}
.header h4{
    margin-bottom: 0.5em;
}
.header a {
    font-weight: 400;
    font-size: 1.6em;
    text-decoration: none;
    color: rgb(194, 201, 216);
}
.header h5 {
    font-weight: 300;
    font-size: 1.2em;
    text-decoration: none;
    color: rgb(124, 130, 140);
    margin-top: 0px;
}
.header p{
    color: rgb(237, 237, 241); 
    font-size: 3em;  
    font-weight: 500;
    margin-top: 0.3em;
}

/*    t_col     */
.t_col {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.t_col h5{
    font-weight: 300;
    font-size: 1.6em;
    color: rgb(128, 128, 129);
}

.t_col p{
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
    color: white;
}


/*     b_col     */
.b_col {
    padding-top: 2.5em;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
.b_col ul{
    list-style-type: none;
    padding: 0;
    }

.b_col a{
    text-decoration: none;
    color: rgb(108, 113, 119);
    font-size: 1.7em;
    
}
.b_col a:hover {
    color: aliceblue;
}


/*   work section    */
.work{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.work h5{
    padding-top: 8em;
    color: rgb(247, 247, 247);
    font-weight: 600;
    font-size: 1.5em;
    margin-bottom: 0vh;
    min-width: 14vw;
}


/*    flex container*/
.m_col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.4em;
    padding-bottom: 1.5em;
  }
  
  .flex-items {
    display: flex;
    flex-grow: 1 1 1;
    flex-shrink: 1;
    flex-basis: auto;
    order: 0;
    height: 350px;
    margin: 0;
    max-width: 19vw;
    min-width: 14vw;
    background-color: rgb(17, 18, 18);
    border-radius: 5px;
    overflow: hidden;
    transition: 200ms;
    background-repeat: no-repeat;
    background-size: 100%;
    ;
  }
  .flex-items:hover{
    scale: 1.03;
  }


  
  
  .fl_ct{
    padding: 1em;
  }

  .fl_ct h2{
    color: white;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
  }
  .fl_ct p{
    color: rgb(141, 146, 148);
    font-size: 1.1em;
    font-weight: 500;
}
  

/*  cta   */
.cta{
    padding-bottom: 8em;
    padding-top: 5em;
    width: 60%;
    margin-right:auto;
    margin-left: auto;
}
.cta h2{
    padding-top: 1vh;
    padding-bottom: 8vh;
    color: white;
    font-size: 3em;
    font-weight: 700;
    margin: 0; 
    text-align: center; 
}
.cta p{
    color: rgb(167, 167, 167);
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 2vh;
}
.cta h1{
    color: white;
    font-size: 1.4em;
    font-weight: 500; 
    text-align: center;
}


/*      footer     */
.footer{
    padding-top: 2em;
    width: 100%;
    background-color: rgb(10, 10, 10);
}

@media only screen and (max-width: 768px) {
    .header{
        width: 80%;
    }
    .header p{
        font-size: 2em;
    }
    .t_col{
        width: 80%;
    }
    .m_col{
        justify-content: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .flex-items{
        min-width: 80vw;
        margin: 10px;
    }
  }
