@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap);

*{
    font-family: 'Inter', sans-serif;
}
.header{
    padding-top: 40px;
}
.header a {
    font-weight: 300;
    font-size: 2.7em;
    text-decoration: none;
    color: rgb(13, 13, 13);
}
.split_col{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.l_col p{
    text-align: justify;
}
.r_col ul{
    list-style-type: none;
}

.r_col a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}
@media only screen and (max-width: 680px) {
 .split_col { grid-template-columns: repeat(2, 1fr);}
}

/* footer content*/
.footer{
    width: 100%;
    background-color: rgb(238, 243, 249);
}