@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700&display=swap);

body{
    transition: background-color 0.5s;
}

*{
    font-family: 'Inter', sans-serif;
}
.header{
    padding-top: 40px;
}
.header a {
    font-weight: 300;
    font-size: 2.7em;
    text-decoration: none;
    color: rgb(13, 13, 13);
}

/* dark mode slider*/
.toggle-cont{
    display: flex;
    align-items: center;
    margin: 20px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #21f33d;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

body.dark-mode {
    background-color: #333;
    color: rgb(101, 100, 111)5, 255, 255, 0.252)464;
}

body.dark-mode .toggle-cont p {
    color: #fff;
}

.l_col p{
    text-align: justify;
    font-size: 0.9em;
}
.r_col ul{
    list-style-type: none;
}

.r_col a{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .l_col{
    padding-right: 0;
  }
   }

/* footer content*/
.footer{
    width: 100%;
    background-color: rgb(238, 243, 249);
}